<table style="box-shadow: 7px 7px 5px 0 rgba(100,102,97,0.48); border-collapse: collapse">
    <tr align="left">
        <th style="background-color: #535353; color: #f5f5f5;"><b>Comments</b></th>
    </tr>
    <tr align="left">
        <td><%= product.comments %></td>
    </tr>
    <tr align="left">
        <th style="background-color: #535353; color: #f5f5f5;"><b>Attached image</b></th>
    </tr>
    <tr align="left">
        <td><a href="<%=product.file%>"><img width="300" src="<%=product.file%>"></a></td>
    </tr>
</table>