<ul id="cropInfo" class="display-none">
    <li><b>Date:</b> <%= new Date(sowingDate).toDateString() %></li>
    <li><b>Crop Type:</b> <%= cropType %></li>
    <li><b>Rice Variety:</b> <%= riceVariety %></li>
    <li><b>Puddling:</b> <%= puddling %></li>
    <li><b>Sowing Practice:</b> <%= sowingType %></li>
    <li><b>Seeds Per Ha:</b> <%= seedsPerHa %></li>
    <li><b>Uploading Date:</b> <%= new Date(uploadDate).toDateString() %></li>
    <li class="display-none" id="cropInfoID"><%= productId %></li>
</ul>