<ul id="irrigationInfo" class="display-none">
    <li><b>Start Date:</b> <%= new Date(startDate).toDateString() %></li>
    <li><b>End Date:</b> <%= new Date(endDate).toDateString() %></li>
    <li><b>Quantity of Water:</b> <%= waterQuantity %><%= measureUnit %></li>
    <li><b>Water Hours:</b> <%= waterHours %></li>
    <li><b>Water Height:</b> <%= waterHeight %></li>
    <li><b>Uploading Date:</b> <%= new Date(uploadDate).toDateString() %></li>
    <li class="display-none" id="irrigationInfoID"><%= productId %></li>
</ul>