<form id="form-template" date-product="yield" date-url = "/yields" enctype='application/json'>
        <div class="form-group">
            <label>Harvest date</label>
            <input class="form-control" type="date" name="observationDate" value="<%= formatDate(observationDate) %>">
        </div>

        <div class="form-group">
            <label>Yield (dry weight)</label>
            <input placeholder="Ton/ha" required="" min="0" name="yield" step="0.01" type="number"  value="<%= yield %>" class="form-control" >
        </div>

        <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" name="comments" rows="3"><%= comments %></textarea>
        </div>

        <div class="form-group">
            <label>Grain Moisture</label>
            <input class="form-control" min="0" type="number" required="" step="0.01" name="grainMoisture" value="<%= grainMoisture %>">
        </div>

        <div class="form-group">
            <label id="form-put-response-label"></label>
        </div>
</form>