<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>ERMES mail</title>
</head>
<body>
    <table style="width: 90% !important" align="center">
        <tr>
            <th style="background-color: #E5E3E1;" align="left">
                <img style="padding: 5px" src="http://ermes.dlsi.uji.es/images/logo.png">
            </th>
        </tr>
        <tr>
            <td style="padding: 5%; background-color: #F9F9F9" align="left">
                <% var body =  template(params); %>
                <%= body %>
            </td>
        </tr>
    </table>
</body>
</html>